<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 增加定时器配置 -->
    <!-- 线程执行器配置，用于任务注册 -->
    <bean id="executor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="10" />
        <property name="maxPoolSize" value="100" />
        <property name="queueCapacity" value="500" />
    </bean>
    <!--系统计划任务,调度器的配置 -->
    <bean id="schedulerFactoryBean"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!-- <property name="configLocation" value="classpath:quartz.properties" /> -->
        <property name="overwriteExistingJobs" value="true" />

        <property name="startupDelay" value="5" />
        <property name="applicationContextSchedulerContextKey" value="applicationContext" />

        <property name="triggers">
            <list>
                <ref bean="myJobTrigger" />
            </list>
        </property>
    </bean>

    <!-- 触发器的配置 -->
    <bean id="myJobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="myJobDetail" />
        </property>
        <property name="cronExpression">
            <value>0/10 * * * * ?</value>
        </property>
    </bean>

    <!-- job的配置 -->
    <bean id="myJobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="queryProjectJob" />
        </property>
        <property name="targetMethod">
            <value>execute</value>
        </property>
    </bean>

    <!-- 工作的bean -->
    <bean id="queryProjectJob" class="com.zjx.firsthibernate.quartz.job.MyJob" />
</beans>